<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to my Yelp Sentiment Analysis Project</h1>
    <h2>Created by Chinmay Mangalwedhe</h2>

    <p>This is a project that I made that scrapes Yelp pages and gives a sentiment analysis using the pretrained neural network BERT. After it gives a sentiment to every
    review on the Yelp page provided by you, it will create a histogram plot and summary statistics of the sentiments collected.
    </p>

    <p>Visit this link if you would like to learn more about what BERT is and what it can offer:
        <a href="https://towardsdatascience.com/bert-explained-state-of-the-art-language-model-for-nlp-f8b21a9b6270">Article by Rani Horev</a></p>

    <p><strong>As this scrapes Yelp's webpage (to capture all reviews) and gives a sentiment to each rating, this may take a while so please do not leave the webpage.</strong></p>
    <p>In the future, I plan to expand this and include Google Reviews.</p>

    <p>I hope you enjoy and if you have any suggestions please feel free to email me at <a href="mailto:cmangalwedhe@gmail.com">cmangalwedhe@gmail.com</a></p>
</body>
</html>