<!DOCTYPE html>
    <html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Review Sentiments</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/get_yelp_link">Enter Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/show_sentiment">Show Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/display_graph">Show Graphs</a>
            </li>
        </ul>
    </body>
<table border="1" class="dataframe table table-stripped">
  <thead>
    <tr style="text-align: left;">
      <th>Review</th>
      <th>Sentiment</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>This place is awesome, The chicken sandwich is amazing and they are HUGE and the Nashville fries are also awesome. We will be ordering again soon.</td>
      <td>5</td>
    </tr>
    <tr>
      <td>The Nashville hot Fries are two meals in one basket. Lots of fries, big chunks of Nashville Hot chicken, and, hiding underneath, is a bed of creamy Mac and cheese. Love me some spicy so this was the delectable choice. I like to try other menu items, but I may always order this meal (big enough for two).</td>
      <td>4</td>
    </tr>
    <tr>
      <td>I'm so confused to why Urban Bird Hot Chicken didn't just introduce these fries as meals instead of marketing it as street fries. Nonetheless the fries loaded with Nashville hot chicken and Mac n Cheese was absolutely amazing! Service was kinda slow and they seem to be short staffed at the register. 1/2 of the lemonades were out. Sweet tea was amazing and fresh. Overall friendly service and friendly smiles to pair with delicious food. A win combination. Much improved compared to their initial opening months ago. Location is actually inside of Urban Bird Hot Chicken in the target shopping center complex off FM1960</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Dangit. I should've taken pics. For $35 I got a chicken sandwich that was so sloppy, I had to deconstruct and eat with a fork and knife. The chicken was nicely spiced and crunchy. The pickles were yum too. The sauce and Cole slaw were just a mess, though, which seriously diminished the overall experience. I also got a small order of soggy, stuck together waffle sweet potato fries. There was nothing good to say about them and the $.80 cup of ranch was also unremarkable. The best thing that I received in my order was the $8 gallon of sweet tea. At least I can drink it for the next several days. I'm pretty bummed that I spent so dang much money on an overhyped meal. Meh.</td>
      <td>2</td>
    </tr>
    <tr>
      <td>Literally delicious  The Sando is the best chicken sandwich in the entire world. We got sweet and tangy dry rub and I can't tell you enough how incredible it was. The maple siracha fries are the best I've tried. They're the perfect combination of sweet and spicy. It's one of our new favorite spots.</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Sando, OMG it's delicious every bite has flavor and the coleslaw goes really well the the chicken. I got the combo with seasoned crinkle fries, overall I enjoyed the meal. We'll definitely be back!</td>
      <td>4</td>
    </tr>
    <tr>
      <td>We had the food delivered and it was our second time ordering from here. Very good chicken!! I like that they have a variety of flavors especially if you like things a little on the spicier side. This time I got the chicken tenders that's not made with meat and it was really good. They are good sizes and give you a good amount of sauce with your order too. Their homemade sauce is really good. Their fries have a great seasoning on it too. They also have a variety of drink options.</td>
      <td>5</td>
    </tr>
    <tr>
      <td>I stopped by this place out of pure curiosity. My luck must be good because my fries were bomb!!!! They even offer meatless tenders for all of us non-meat eaters to replace the regular chicken. My husband had a salted caramel shake which he devoured before I could snap pictures lol. You can dine in or do take out, cashier was very helpful and friendly making my ordering process very easy</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Just ordered the BBQ Mac via Uber eats. OMG!!! Soooo good! Very good size, a lot of toppings (although I wished I had more mac n cheese because it was THAT good), perfect amount of sauce. I've been wanting to try this place and I am SO glad I did!</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Amazing! Best chicken sandwich and mac fries were delicious! Definitely will go back!</td>
      <td>5</td>
    </tr>
    <tr>
      <td>very good omg, the chicken was very juicy and the queso was magnificent! definitely returning</td>
      <td>4</td>
    </tr>
    <tr>
      <td>Good food I liked it an the people ....,that's it stop limiting people to things on the reviews damn!</td>
      <td>4</td>
    </tr>
    <tr>
      <td>I've ordered from this place a few times and the experience has been great. I usually order online for takeout. Today, there must have been a glitch in the ordering system, because when I arrived they had no record of my order. Javier, the manager on duty, quickly jumped into action and was able to determine that my order had been routed to a different location. He and his team quickly prepared my order and I was on my way in less than 5 minutes. HUGE SHOUT OUT TO JAVIER AND HIS TEAM! I will definitely be back!</td>
      <td>5</td>
    </tr>
    <tr>
      <td>Ordered the Nashville fries and chicken sandwich through doordash. Amazing! The best hot chicken sandwich I've had in Houston. The mild is very spicy so be cautious of that.</td>
      <td>5</td>
    </tr>
    <tr>
      <td>I had heard about this place from my brother. Was in the area so I stopped. GREAT choice. I had the Urban Fries. Fries covered in Mac and cheese and topped with chicken tenders chopped up. And that Beautiful Burn Sauce, little sweet, little hot, but all good.  I will go back to sample more of the menu.</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
</html>